.pomodoro{
    font-size: 6em;
}

.message{
    font-size: 0.5em;
    min-height: 1.3em;
    margin-bottom:0.5em ;
}

.playButton{
    background-color: transparent;
    color: rgb(68, 255, 130);
    border: 0;
    display: inline-block;
    width: 100px;
}

.pauseButton{
    background-color: transparent;
    color: rgb(255, 0, 0);
    border: 0;
    display: inline-block;
    width: 100px;
}

.timer{
    color:rgb(68, 255, 239);
}