.quotes{
    display: flex;
    flex-direction: row;
    background-color: #21222A;
    height: 240px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; /* horizontally centers items */
    align-items: center; /* vertically centers items */
  }

  .text{
   margin-top: auto;
   margin-bottom: auto;
   width: 500px;
   margin: 20px;
   font-family: "Lucida Handwriting";
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   animation: fadeInSlideAnimation 2s ease-out forwards;
  }
  
  @keyframes fadeInSlideAnimation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }