@keyframes fadeInSlideAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .buttons > button:hover{
    background-color: rgb(120, 131, 131);
  }
  
  .buttons > button{
    background-color: transparent;
    color: aqua;
    border: 0;
    display: inline-block;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: fadeInSlideAnimation 2s ease-out forwards;
    }

  