@keyframes slide {
  0% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(0%);
  }
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .buttons > button:hover{
    background-color: rgb(120, 131, 131);
  }
  
  .buttons > button{
    background-color: transparent;
    color: aqua;
    border: 0;
    display: inline-block;
    width: 100px;
    cursor: pointer;
    margin: 20px;
    }

  