.nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.navtitle{
  color: #61DAFB;
  font-weight: 700;
  font-size: 50px;
  margin-right: auto;

}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #21222A;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.li{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #2535b3;
}