
.container{
  display: flex;
  flex-direction: row;
}


.words{
  display: flex;
  flex-direction: row;
}
 .words > .phrase{
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
}

.bigcontainer{
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.signupcontainer{
display: flex;
flex-direction: column;
}

.signup{
  margin-left: auto;
  margin-right: auto;
}

.logo{
  display: flex;
  flex-direction: row;
  font-size: 50px;
}

.logo > .inLogo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
