
.container{
  display: flex;
  flex-direction: row;
}


.words{
  display: flex;
  flex-direction: row;
}
 .words > .phrase{
  color: rgb(255, 255, 255);
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: fadeInSlideAnimation 2s ease-out forwards;
}

.bigcontainer{
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.signupcontainer{
display: flex;
flex-direction: column;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation: fadeInSlideAnimation 2s ease-out forwards;
}

.signup{
  margin-left: auto;
  margin-right: auto;
}

.logo{
  display: flex;
  flex-direction: row;
  font-size: 50px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation: fadeInSlideAnimation 2s ease-out forwards;
}

.logo > .inLogo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}



@keyframes fadeInSlideAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}